@import "../styles/tokens";

.c-Sidebar {
  grid-area: sidebar;
  width: 250px;
  padding-right: 16px;

  .c-SidebarLogo {
    margin-bottom: 32px;
  }

  .c-SidebarElems {
    .c-SidebarElem {
      display: flex;
      align-items: center;
      height: 32px;
      padding: 0 16px;
      border-top-right-radius: 32px;
      border-bottom-right-radius: 32px;

      .MuiSvgIcon-root {
        margin-right: 16px;
      }

      &.active {
        background: map-get($colors, "light-red");
        color: map-get($colors, "red");
        font-weight: 600;
      }
    }
  }

  @media screen and (max-width: map-get($breakpoints, "large")) {
    width: 100%;
    height: auto;
    .c-SidebarElems {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.75em;
      .c-SidebarElem {
        margin-right: 8px;
        padding: 4px 8px;
        border-radius: 4px;

        .MuiSvgIcon-root {
          margin-right: 0;
        }

        &.active {
          background: map-get($colors, "light-red");
          color: map-get($colors, "red");
        }
      }
    }
  }

  @media screen and (max-width: map-get($breakpoints, "medium")) {
    width: 100%;
    .c-SidebarElems {
      display: none;
    }
  }
}
